@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: calc(100% - 64px);
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-green-200 text-white;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-red-500 text-white;
}

.Toastify__zoom-enter {
  @apply h-6 w-6;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s linear infinite;
}